* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.banner {
    background-image: linear-gradient(#000000, #27a8e02a, #000000), url('../assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #16aaee65;
}

.banner-content {
    color: white;
    text-align: center;
    margin: auto;
    width: 600px;
}

.logo {
    background-color: #00000021;
    border-radius: 50%;
    padding: 16px;
    height: 268px;
    width: 268px;
    margin: auto;
    margin-bottom: 15px;

}

.logo img {
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.banner-content h1 {
    font-size: 40px;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.banner-content p {
    font-weight: 400;
    font-size: 20px;
    margin: 16px 0 24px;
    text-align: center;
}

.banner-content button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    padding: 12px 24px;
    text-transform: uppercase;
    color: #31A8DD;
    background-color: transparent;
    letter-spacing: 4px;
    border-image: linear-gradient(#3BA1CD, #1572B7) 1;
    border-image-slice: 10;
}

#course-content {
    text-align: center;
    width: 800px;
    margin: 80px auto 80px;
}

#course-content h2 {
    color: #33A8DB;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 24px;
}

#course-content p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.modules-list {
    justify-content: center;
    margin-top: 40px;

}

.module {
    color: white;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    background-color: #252525;
    width: 535px;
    padding: 16px;
    margin: 0 auto 24px;
    border-radius: 54px;
    border: 1px solid #33A8DB;
    box-shadow: inset -5px 6px 8px #00000066;
}

.module span {
    color: #0e98d3cc;
}

#transform-world {
    background-image: url('../assets/images/woman-code.png');
    border-top: 1px solid #16aaee65;
    border-bottom: 1px solid #16aaee65;
    height: 363px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 120px;
}

#transform-world p {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;

}