* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

body {
    background-color:black;
}
.banner {
    background-image: linear-gradient(#000000, #27a8e02a, #000000), url('../assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #16aaee65;
}

.banner-content {
    color: white;
    text-align: center;
    margin: auto;
    width: 600px;
}

.logo {
    background-color: #00000021;
    border-radius: 50%;
    padding: 16px;
    height: 268px;
    width: 268px;
    margin: auto;
    margin-bottom: 15px;
    
}
.logo img {
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.banner-content h1 {
    font-size: 40px;
    font-weight: 900;
    color:transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.banner-content p {
   font-weight: 400;
    font-size: 20px;
    margin: 16px 0 24px;
    text-align: center;
}
.banner-content button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    padding: 12px 24px;
    text-transform: uppercase;
    color: #31A8DD ;
    background-color: transparent;
    letter-spacing: 4px;
    border-image: linear-gradient(#3BA1CD, #1572B7) 1;
    border-image-slice: 10;
}
